/*
 * Copyright (c) 2022 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */
 &spi3 {
	status = "disabled";
 };

 &button0 {
 	status = "disabled";
	};

 &button1 {
	status = "disabled";
 };

 &button2 {
	status = "disabled";
 };

 &button3 {
	status="disabled";
 };
 
 
&i2c2 {
	status = "okay";
	compatible = "nordic,nrf-twim";
	pinctrl-0 = <&i2c2_default_alt>;
	pinctrl-1 = <&i2c2_sleep_alt>;
	zephyr,concat-buf-size = <20>;
	mpu9250: mpu9250@68 {
		compatible = "invensense,mpu9250";
		reg = <0x68>;
		label = "MPU9250";
		gyro-sr-div = <0>;
		// TODO: tune dlpfs
		gyro-dlpf = <10>;
		gyro-fs = <1000>;
		accel-fs = <8>;
		accel-dlpf = "21.2";
		irq-gpios = <&gpio0 9 GPIO_ACTIVE_HIGH>;
	};
};

&i2c3 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	pinctrl-0 = <&i2c3_default_alt>;
	pinctrl-1 = <&i2c3_sleep_alt>;
	pinctrl-names = "default", "sleep";
	shield_qdec: pca63539-qdec@28 {
		compatible = "nordic,pca63539-qdec";
		label = "PCA63539-QDEC";
		reg = <0x28>;
	};
};

&pwm1 {
	status = "okay";
	pinctrl-0 = <&pwm1_default_alt>;
	pinctrl-1 = <&pwm1_sleep_alt>;
	pinctrl-names = "default", "sleep";
};

/ {
	aliases {
		accelerometer = &mpu9250;
		gyroscope = &mpu9250;
		magnetometer = &mpu9250;
		motora = &motor_0_a;
		motorb = &motor_0_b;
	};
	motor_port0: motor_port0{
		compatible = "toshiba,tb6612fng";
		status = "okay";
		label = "motor_port_0";

		motor_0_a: motor_a {
			compatible = "toshiba,tb6612fng-motor";
			status = "okay";
			label = "motorA";
			pwms = <&pwm1 0 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
			input1-gpios = <&gpio0 4 0>;
			input2-gpios = <&gpio0 5 0>;
		};

		motor_0_b: motor_b {
			compatible = "toshiba,tb6612fng-motor";
			status = "okay";
			label = "motorB";
			pwms = <&pwm1 1 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
			input1-gpios = <&gpio0 3 0>;
			input2-gpios = <&gpio0 2 0>;
		};
	};
};


&pinctrl {
	i2c2_default_alt: i2c2_default_alt {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 11)>,
					<NRF_PSEL(TWIM_SCL, 0, 13)>;
					bias-pull-up;
		};
	};
	i2c2_sleep_alt: i2c2_sleep_alt {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 11)>,
					<NRF_PSEL(TWIM_SCL, 0, 13)>;
					bias-pull-up;
		};
	};

	i2c3_default_alt: i2c3_default_alt {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 30)>,
					<NRF_PSEL(TWIM_SCL, 0, 31)>;
					bias-pull-up;
		};
	};

	i2c3_sleep_alt: i2c3_sleep_alt {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 30)>,
					<NRF_PSEL(TWIM_SCL, 0, 31)>;
					bias-pull-up;
		};
	};
	
	pwm1_default_alt: pwm1_default_alt {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 6)>,
					<NRF_PSEL(PWM_OUT1, 0, 1)>;
		};
	};
	pwm1_sleep_alt: pwm1_sleep_alt {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 6)>,
					<NRF_PSEL(PWM_OUT1, 0, 1)>;
			low-power-enable;
		};
	};
};
