#
# Copyright (c) 2022 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig IMU_MODULE
	bool "IMU module"
	default y

if IMU_MODULE

config IMU_THREAD_STACK_SIZE
	int "Sensor module thread stack size"
	default 2048

config IMU_MESSAGE_FREQUENCY
	int "Number of event messages per second"
	default 1

endif # IMU_MODULE

module = IMU_MODULE
module-str = IMU module
source "subsys/logging/Kconfig.template.log_config"
