#
# Copyright (c) 2022 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig CONTROLLER_MODULE
	bool "Controller module"
	default y

if CONTROLLER_MODULE

config CONTROLLER_THREAD_STACK_SIZE
	int "Controller module thread stack size"
	default 2048

config STATIC_SET_POINT_PITCH
    int "Static set point used as an 'anchor' when changing pitch set point"
    help
      This is manually set by finding the pitch angle at which the robot balances without input
    default -90

config STATIC_SET_POINT_SPEED
    int "Static set point is used as an 'anchor' when changing speed set point"
    default 0

config ANGLE_FAILSAFE_LIMIT
    int "Absolute value of angle above which the motors will shut down to fail predictably"
    default 20

# PID controller stuff
config ENABLE_FEEDFORWARD
    bool "Additional feedforward control"
    default n

config DEGREES_RANGE_PITCH
    int "Allowed range of degrees when changing set point for pitch"
    default 5

config DEGREES_RANGE_YAW
    int "Allowed range of degrees when changing set point for yaw"
    default 180

config SPEED_RANGE
    int "Max horizontal speed factor. Divided by 100 in the code"
    default 4

## Pitch PID
### TODO: Tune these
config KP_PITCH
    int "Proportional gain of PID controller for pitch"
    default 18000
    # default 180000
    # default 180000

config KI_PITCH
    int "Integral gain of PID controller for pitch"
    default 0
    # default 130000

config KD_PITCH
    int "Derivative gain of PID controller for pitch"
    default 3600
    # default 2500

config PITCH_INTEGRATION_LIMITS
    int "Upper and lower integration limits of pitch PID"
    default 400

## Speed PID

config KP_SPEED
    int "Proportional gain of PID controller for speed"
    default 80

config KI_SPEED
    int "Integral gain of PID controller for speed"
    default 90

config KD_SPEED
    int "Derivative gain of PID controller for speed"
    default 4

config SPEED_INTEGRATION_LIMITS
    int "Upper and lower integration limits of speed PID"
    default 10

config SPEED_OUTPUT_LIMITS
    int "Upper and lower output limits of speed PID"
    default 10

## Motor scalings
config MOTOR_CONSTANT
    int "Scales controller output to motor range"
    default 20
endif # CONTROLLER_MODULE

module = CONTROLLER_MODULE
module-str = Controller module
source "subsys/logging/Kconfig.template.log_config"
