/*
 * Copyright (c) 2022 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	aliases {
		// temp-sensor = &bme680;
		// humidity-sensor = &bme680;
		// pressure-sensor = &bme680;
		accelerometer = &mpu9250;
		gyroscope = &mpu9250;
		magnetometer = &mpu9250;
	};
};

&i2c2 {
	status = "okay";
	compatible = "nordic,nrf-twim";
	sda-pin = <11>;
	scl-pin = <13>;
	mpu9250: mpu9250@68 {
		compatible = "invensense,mpu9250";
		reg = <0x68>;
		label = "MPU9250";
		gyro-sr-div = <200>;
		gyro-dlpf = <92>;
		gyro-fs = <2000>;
		accel-fs = <2>;
		accel-dlpf = "21.2";
		irq-gpios = <&gpio0 9 GPIO_ACTIVE_HIGH>;
	};
};